html {
    box-sizing: border-box;
    font-family: 'montserrat', 'sans-serif';
    color:white;
}
body {
    margin: 0;
    background-image: url(https://cdn.discordapp.com/attachments/845525310221189151/1156196964673785907/Untitled-1.png?ex=651417d5&is=6512c655&hm=43658c4e4616339350062e3287f322377cfc0e4c6a5e8b30198928a74cec754f&);
  }

.hr {
    width: 75%
}
.header {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.5vw;
    letter-spacing: 0.5vw;
    text-align: center;
    color: white;
    background-color: rgba(54,65,86,0.85);
    display: flex;
    justify-content: center;
    padding-bottom: 6vw;
    border-bottom: 7.5px double #D66853;
}

.form {
    padding-top: 3.5vw;
    padding-left: 2.5vw;
    padding-bottom: 3.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    color: white;
    background-color: #212D40;
    
}

.answers {
    font-size: 1.15vw;
    padding-left: 1vw;
}

